# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Environment
venv/
.env

# Django static/media files
/staticfiles/
/media/

# IDE / Editor files
.vscode/
*.swp
.idea/
.DS_Store

# Node
node_modules/
