{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="{% static 'assets/style.css' %}">
  <meta charset="UTF-8">
  <title>NC Cinema</title>
</head>

<header>
<h1>Book Seats for {{ screening.movie.title }}</h1>
</header>
<body>
  

<section>
  <div class="screen-booking">
<p>Time: {{ screening.screening_time }} | Screen: {{ screening.screen_number }}</p>

<form method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Book</button>
</form>

<a href="{% url 'movie_detail' screening.movie.pk %}">← Back to Movie</a>
</div>
</section>


<footer class ="footer-nav">
    {% if user.is_authenticated %}
    <p>Welcome, {{ user.username }}! <form action="{% url 'logout' %}" method="post" style="display:inline;">
        {% csrf_token %}
        <button type="submit">Logout</button>
      </form>
    </p>
    {% else %}
    <a href="{% url 'signup' %}">Sign Up</a>
    <a href="{% url 'login' %}">Login</a>
    {% endif %}
  </footer>
  </body>
</html>
