<h1>Book Seats for {{ screening.movie.title }}</h1>
<p>Time: {{ screening.screening_time }} | Screen: {{ screening.screen_number }}</p>

<form method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Book</button>
</form>

<a href="{% url 'movie_detail' screening.movie.pk %}">← Back to Movie</a>

<footer class ="footer-nav">
    {% if user.is_authenticated %}
    <p>Welcome, {{ user.username }}! <form action="{% url 'logout' %}" method="post" style="display:inline;">
        {% csrf_token %}
        <button type="submit">Logout</button>
      </form>
    </p>
    {% else %}
    <a href="{% url 'signup' %}">Sign Up</a>
    <a href="{% url 'login' %}">Login</a>
    {% endif %}
  </footer>
