<h1>Welcome, {{ request.user.username }}!</h1>

<!-- Booking success message -->
{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}

<!-- Booking history -->

<h2>Your Bookings</h2>

{% if bookings %}
  <ul>
    {% for booking in bookings %}
      <li>
        <strong>{{ booking.screening.movie.title }}</strong> — 
        {{ booking.screening.screening_time }} |
        Seats: {{ booking.seats }}
      </li>
    {% endfor %}
  </ul>
{% else %}

<p>You Haven't made bookings yet.</p>

{% endif %}

<a href="{% url 'logout' %}">Log out</a>